
.titledescription {
    font-size: 0.8em;
}

.divTitle {
    width: 60%;
    margin: 1em auto 0 auto;
}

.descriptionAndReadMoreLink {
    justify-content: space-between;
    margin: 0 auto 1em auto;
}

.posts {
    display: flex;
    flex-direction: column;
}

.postName {
    font-size: 130%;
}


.article {
    border: solid black;
    height: 100%;
    padding: 5%;
}

.divBackButtonInput {
    margin-bottom: 1.5em;
    text-align: right;
}


.articlePosts {
    width: 100%;
    padding: 5%;
}

.deleteLink {
    display: flex;
    justify-content: space-between;

}

.buttonReverse {
    text-align: right;
    height: 2.5em;
    margin: auto 0;
    background-color: white;
}

.buttonReverseAndSearchInput {
    text-align: right;
    margin: auto 0;
}

.inputSearch {
    width: 10em;
}

.description {
    font-size: 100%;
    margin: auto 0;
}

.grid{
    width: 100%;
    margin-bottom: 10%;
    display: grid;
    justify-items: center;
    justify-content: center;
}

.readMore{
    position: absolute;
    bottom: 0;

    left: 50%;
    transform: translate(-50%);
}

.article {
    height: 90%;
    position: relative;
}

@media only screen and (min-width: 600px) {
    .inputSearch {
        width: 15em;
    }

    .titleMarketValue {
        font-size: 1.5em;
    }

    .marketValue {
        font-size: 1.2em;
    }


    .titledescription {
        font-size: 1.5em;
    }

    .divTitle {
        margin: 2em auto 0 auto;
    }

    .descriptionAndReadMoreLink {
        margin: 0.5em auto 1.2em auto;
    }

    .readMore {
        font-size: 1.1em;
    }

    .noDeleteAndEditText {
        font-size: 1.1em;
        margin-bottom: 3em;
    }

    .titleHome {
        font-size: 1.6em;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
    "post1 post2"
    }
    @media only screen and (min-width: 1000px) {
        .grid {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
    "post1 post2 post3"
        }
    }
}